<div class="page-header text-center">
  <h1>About Property Certify <small>We are South London's leading property survey experts.</small></h1>
</div>
<p class="lead text-center">Property Certify is a dedicated Energy Performance Certificate provider set up to meet the increasing demand for Energy Performance Certificates to property professionals, businesses and home owners.

Based in Kent, we are able to deliver all our services to London and the South East.

We work closely with major estate agent chains, solicitors and chartered surveyors and can therefore offer a full range of survey work.</p>
<div class="row">
  <div class="col-lg-4">
    <h2>About Energy Performance Certificates</h3>
    <p>In May 2010, the UK Government dropped the requirement for Home Information Packs (Hips) for residents in England and Wales. In their place they introduced the Energy Performance Certificate (EPC) which became mandatory for all households, and business properties.</p>
    <p class='text-danger'>You cannot sell or rent a property in England or Wales without an Energy Performance Certificate (EPC), for penalty is a fine upto £5000.</p>
    <p><a class="btn btn-success" href="#" role="button">Book Now &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>The Idea behind Energy Performance Certificates (EPC)</h3>
    <p>Buildings are almost responsible for 50% of the UK's energy consumption, which is twice that of cars and planes.</p>
    <p>Energy Performance Certificates have been adopted to bring about greater awareness of energy efficiency and what we can do reduce carbon emissions. This has evolved from the Government's acceptance of the 'Kyoto Agreement' and the EU's ' Energy Performance of Buildings Directive'.</p>
  </div>
  <div class="col-lg-4">
    <h2>Do I need an Energy Performance Certificate (EPC)</h3>
    <p>YES... If you wish to sell or let any residential or commercial property then you will need an EPC.</p>
		<p>YES... When a new building is constructed then no later than 5 days after construction.</p>
		<p>NO... Some buildings do not require an EPC. Contact us for more information if required.</p>
  </div>
</div>