<div class="row">
  <div class="col-lg-12">
		<div class="page-header text-center">
		  <h1>Free Commercial EPC</h1>
		  <p>Because of the unique way our company in structured we are able to offer free Energy Performance certificate quotes to businesses in the following areas: Bexley, Bromley, Croydon, Greenwich, Lambeth, Lewisham and Southwark.</p>
		  <span class="text-small">(If your company is outside of these areas, we may still be able to offer you a free quote, please call for info and advice)</span>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-lg-12">
		<h1>Book your EPC Survey now using the form below</h1>
		<p>OUR PROMISE TO YOU</p>
		<ul>
  		<li>Our fees are inclusive of VAT</li>
  		<li>Your details will never be passed to 3rd parties</li>
  		<li>You will receive a confirmation by SMS</li>
  		<li>Our experienced Government Accredited Energy Assessors will always show you ID</li>
  	</ul>
  	<span class="text-small"> We only use this information to process the quote. 
  		Your information is not sent to third parties</span>
	</div>
</div>