<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="telephone">Telephone</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Telephone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
    <span class="help-block">Your email which we can use to contact you.</span>
  </div>
  <div class="form-group">
    <label for="inquiry">Enquiry</label>
    <textarea class="form-control" rows="10"></textarea>
    <span class="help-block">Please type your message or request here</span>
  </div>
</form>