
<%= link_to(image_tag("banner.jpg", class: "img-responsive center-block"), residential_path) %>
<!-- Example row of columns -->
<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading text-center">Cheapest Energy Performance Certificates in South London.</h2>
    <p class="lead text-center">Welcome to Property Certify, we are property survey experts specialising in providing the cheapest Energy Certificates in Bexley, Bromley, Croydon, Greenwich, Lambeth, Lewisham Southwark and Wandsworth.
		</p>
		<p class="text-center"><span class="text-muted">(If your company is outside of these areas, we may still be able to offer you a free survey, please call for info and advice)
		<span></p>
  </div>
</div>
<hr class="featurette-divider">
<div class="row">
  <div class="col-md-6">
    <h2>What are Energy Performance Certificates?</h2>
    <p>Energy Performance Certificates also known as EPCs show how energy efficient a property is. The certificate will provide a rating of the energy efficiency and CO2 emissions of a property from A grade the highest to grade G being very inefficient. </p>
    <p> <%= link_to 'Book Now', residential_path, class: "btn btn-success" %></p>
 </div>
  <div class="col-md-6">
    <h2>Who needs an EPC?</h2>
    <p>All buildings in the UK whether residential or commercial that are constructed, sold or rented out will need to have an Energy Performance Certificate.</p>
    <p> <%= link_to 'Book Now', residential_path, class: "btn btn-success" %></p>
  </div>
</div>
<hr class="featurette-divider">
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-success">
			<h3 class="panel-heading panel-title">Inner London</h3>
			<h2 class="text-center">Only &#163;35 Inclusive</h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-success">
			<h3 class="panel-heading panel-title">Outer London</h3>
			<h2 class="text-center">Only &#163;45 Inclusive</h2>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-success">
			<h3 class="panel-heading panel-title">Commercial EPC Quotes</h3>
			<h2 class="text-center">Free!</h2>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-md-6">
  	<h2>Our Fees</h2>
  	<p>We provide a fast and reliable service at the lowest rates.</p>
  	<h3>Our Promise to You</h3>
  	<ul>
  		<li>Our fees are inclusive of VAT</li>
  		<li>Your details will never be passed to 3rd parties</li>
  		<li>You will receive a confirmation by SMS</li>
  		<li>Our experienced Government Accredited Energy Assessors will always show you ID</li>
  	</ul>
  </div>
</div>
